.awesome{
    padding-top: 60px;
}
.awesome-prising-customers__title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.awesome-prising-customers__title::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 1px;
    border: 1px solid #EC7979;
    display: block;
    background-color: #EC7979;

}

.awesome__content-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}


.content-list__image {
    width: 170px;
    height: 170px;
    margin: 0 auto 0 auto;
}

.content-list__image--icunone {
    background-image: url(../img/about_icon_1.png);
}

.content-list__image--icuntwo {
    background-image: url(../img/about_icon_2.png);
}

.content-list__image--icunthree {
    background-image: url(../img/about_icon_3.png);
}

.content-list__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.content-list__paragraph {
    margin: 0;
    padding-top: 40px;
    color: black;
    padding-bottom: 50px;
}

@media(max-width:1510px) and (min-width:755px) {
    .awesome-prising-customers__title {
        font-size: 24px;
    }

    .content-list__title {
        font-size: 18px;
    }
}
@media(max-width:755px) {
    .awesome__content-list {
        flex-direction: column;
        gap: 0;
    }
}