.customers__content-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.conteiner__dialog-window {
    position: relative;
    padding-bottom: 30px;

}

.conteiner__dialog-window::after {
    content: " ";
    position: absolute;
    left: 25px;
    bottom: 7px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 25px solid #E2E2E2;
}

.content-list__dialog-window {
    position: relative;
    background-color: #E2E2E2;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    margin: 0;
    padding: 37px 20px;
}


.content-list__profile {
    display: flex;
    gap: 10px;
    margin-top: 35px;
}

.profile__photo {
    width: 70px;
    height: 70px;
}

.profile__photo--onepofile {
    background-image: url(../img/Ellipse\ 1.png);

}

.profile__photo--twoprofile {
    background-image: url(../img/Ellipse\ 2.png);
}

.profile__photo--threeprofile {
    background-image: url(../img/Ellipse\ 3.png);
}

.profile__name {

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.profile__position {
    margin: 0;
    color: black;
    text-transform: capitalize;
    text-align: start;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #86878B;
    text-align: center;
}

#slider_bl {
    display: none;
}

@media(max-width:1510px) and (min-width:1024px) {
    .profile__name {
        font-size: 18px;
    }
}

@media(max-width:1023px) {
    .customers__content-list {
        display: none;
    }

    #slider_bl {
        display: block;
        MARGIN: 0 auto;
        width: 80%;
    }
    .conteiner__dialog-window{
        padding-left: 10px;
    }
    .awesome-prising-customers__title{
        box-sizing: border-box;
    }
    


}