.icon--mod {
    box-sizing: border-box;
    display: block;
    font-size: 42px;
    text-decoration: none;
}

.block-footer {
    background-color: black;
    padding-top: 25px;
}

.footer_paragraph {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 15px;
}