.tab-block__container {
    max-width: 1170px;
    margin: 0 auto;
}

.block-tab__menu {
    padding-top: 99px;
    list-style: none;
    display: flex;
    border-bottom: 1px solid #C6CBCD;
}

.menu__button {
    box-sizing: border-box;
    background-color: white;
    text-transform: uppercase;
    padding: 12px 3.8vw;
    border: none;
}

.menu__button--dicoration {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}

.block-tab__container {
    border: 1px solid #C6CBCD;
    border-top: none;
    display: flex;

}

.block-tab__content {
    box-sizing: border-box;
    padding: 40px 20px 0 95px;
}

.block-tab__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.block-tab__text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    margin-top: 35px;
}

.block-tab__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #EC7979;
    color: white;
    padding: 19px 4.9vw;
    border: none;
    font-size: 18px;
    margin-top: 30px;
}

.content-tab__img {
    object-fit: cover;

}
.container__contant {
    padding-left: 80px;
    padding-top: 20px;
}

@media(max-width:1510px) and (min-width:755px) {
    .container__contant {
        padding-left: 80px;
        padding-top: 20px;
    }

    .block-tab__title {
        font-size: 24px;
    }

    .block-tab__text {
        font-size: 14px;
        margin-top: 33px;
    }

    .tab-block__container {
        margin-left: 10px;
        margin-right: 10px;

    }
}
@media(max-width:930px){
    .content-tab__img {
        display: none;
    }
}
@media(max-width:755px) {
    .content-tab__img {
        display: none;
    }

    .block-tab__title {
        font-size: 18px;
        text-align: center;
    }

    .block-tab__text {
        font-size: 13px;
        text-align: center;
    }

    .tab-block__container {
        max-width: 1020px;
        margin: 0;
    }

    .block-tab__content {
        box-sizing: border-box;
        padding: 20px 20px 0 20px;
    }

    .block-tab__container {
        display: block;
        padding: 50px 50px 30px 50px;
    }

    .block-tab__button {
        display: block;
        margin: 29px auto 0 auto;
        width: 80%;
    }
    .container__contant {
        padding-left: 0;
        padding-top: 0;
    }
}